.agileButton {
	font-size: 1.9em;
	background-color: green;
	margin: 0.05em;
	color: white;
	min-width: 1.65em;
	height: 1.75em;
}


/* Reset */
html, body { height: 100%; margin: 0; padding: 0; }

/* Essentials */
.container { display: table; }
.content { display: table-row; height: 100%; vertical-align: middle; margin-top: auto; margin:0; padding: 0; }
.content-body { display: table-cell; }

/* Aestetics */
.container { width: 100%; height: 100%; }
.header, .footer { padding: 10px 20px; }
.header { height: 1em; }
.footer {
	height: 11em;
}
.content-body { padding: 20px; }

/* text align */
.container { text-align:center; }

#settings {
	display:none;position:absolute;top:0px;right:0px;width:100%;height:100%;background-color:white;font-size:2em;text-align:center;
}
